html{
    width: 80%;
    margin: auto;
    background-image: url('bg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Roboto', sans-serif;
}

body{
    padding-top: 60px;
    padding-bottom: 40px;
    overflow: auto;    
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

header a{
    text-decoration: none;
}

.header {
    font-family: 'Damion', cursive;
    width:80%;
}

#mainheader{
    height: 100px;
    position: fixed;
    top: 0;
    float: left;
    opacity:0.9;
    filter:alpha(opacity=90);
    z-index:99;
    border-bottom: 2px groove rgba(20,20,110,.4);
}

#me{
    font-size: 80px;
    color: #c92238;
    line-height: 100px;    
}

#subheader{
    height: 40px;
}

#always{
    font-size: 30px;
    line-height: 40px;
    color: #375a9b;
}

#bord{
    height: 5px;
    border-top: 2px groove rgba(201, 34, 56, .4);
    border-bottom: 2px groove rgba(201, 34, 56, .4);
}

#all{
    width: 80%;
    margin-top: 12%;
}

.nav{
    float: left;    
    height: 500px;    
    width: 20%;  
    border-right: 3px groove rgba(201, 34, 56, .7);    
    font-size: 20px;
    list-style-type: none;
    margin-left: -40px;
    font-weight: bold;
}

.nav li{
    padding: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: right;
    border-bottom: 1px groove rgba(0,0,0,.1);
}

.nav li:hover{
    color: rgba(201, 34, 56, .7);
    cursor: pointer;
    text-decoration: underline;
}

.nav li:focus{
    outline: none;
    background-color: rgba(0,0,0,.9);
}

.selected{  
    color: rgba(201, 34, 56, .7);
}

.unselected{
    color: rgba(55, 90, 155, 1);  
}

#whatsInside{
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-top: 30px;
    margin-left: 5%;
    width: 70%;
/*    max-height: 500px;
    overflow: scroll;
*/    
}

#abtContent{
    float: left;
    margin-left: 20px;
    margin-top: -20px;
}

.big{
    font-size: 30px;
    text-align: left;
}

.small{
    font-size: 20px;
    text-align: left;
}

.stuffWrap{
    border-bottom: solid 1px rgba(0,0,0,.1);
    height: 150px;
    width: 100%;
}

.stuffImg{
    float: left;
    margin-left: 15px;
    width: 110px;
    height: 110px;
    border: 5px solid rgba(55, 90, 155, .7);
    padding: 10px;
    -moz-box-shadow:    1px 1px 5px 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,.3);
    box-shadow:         1px 3px 5px 2px rgba(0,0,0,.3); 
    z-index: 1;       
}

#stamp{
    background-color: #cc0000;
    line-height: 90px; 
}

#stamp:hover{
    border-color: rgba(55, 90, 155, 1);
}

#stampImg{
    max-height: 110px;
    max-width: 110px;
    vertical-align: middle;
}

#cinta{
    background-color: #FFFFFF;
    line-height: 90px; 
}

#cinta:hover{
    border-color: rgba(201, 34, 56, .7);
}

#cintaImg{
    max-height: 110px;
    max-width: 110px;
    vertical-align: middle;
}

.desc{
    width: 60%;
    float: left;
    text-align: left;
    margin-top: -20px;
    vertical-align: top;
    margin-left: 20px;
}

.descBig{
    font-size: 17px;
}

.descSmall{
    font-size: 15px;
}

.desc a{
    text-decoration: none;
    color: #000;
}

.desc a:hover{
    text-decoration: underline;
}

.contactImg{
    max-height: 170px;
    max-width: 170px;
    border: 5px solid rgba(55, 90, 155, .7);
    padding: 10px;
    -moz-box-shadow:    1px 1px 5px 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,.3);
    box-shadow:         1px 3px 5px 2px rgba(0,0,0,.3); 
    z-index: 1;   
}

.contactImg:hover{
    border-color: rgba(201, 34, 56, .7);
}
.cont{
    padding: 10px;
}

#phn{
    font-size: 30px;
    color: rgba(55, 90, 155, 1);  
}

.wrapper {
    position: relative;
    padding: 0;
    display: inline-block;
    float: left;
}

.text {
    position: absolute;
    font-size: 23px;
    top: 0px;
    left: 15px;
    border: 5px solid rgba(201, 34, 56, .7);    
    background-image: url('txtBG.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 190px;
    height: 190px;
    text-align: center;
    opacity: 0;
    z-index: 10;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.text:hover{
    opacity: 1;
    background-color: rgba(0,0,0,.5);
}

.text a{
    text-align:center;
    margin: auto; 
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.text a:hover{
    text-decoration: underline;
}

.pimg{
    margin-top: 5px;
    height: 70px;
    width: 70px;
    border: 3px solid rgba(55, 90, 155, 1);
}

#twitDiv{
    text-align: center;
    margin-left: 30px;
}

#linA{
    font-size: 17px;
}

#emlA{
    line-height: 190px;
    font-size: 17px;
}

.foot{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 12px;
    vertical-align: text-bottom;
}